    <div class="form-group">
        <label for="idT">Id:</label>
        <input type="number" [(ngModel)]="aluno.id" class="form-control active"  id="idT">
    </div>

  <div class="form-group">
    <label for="name">Nome:</label>
    <input type="text" [(ngModel)]="aluno.nome" class="form-control" (input)="onInput()" id="name">
  </div>

  <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" [(ngModel)]="aluno.email" class="form-control" id="email">
    </div>
  
  <button type="submit" class="btn btn-secondary">Submit</button>
